/* GLOBAL */
#nav, label {
    display: none;
}
body{
    border-top: 5px solid #e56038;
    background: #ebe8de;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
p{
    margin: 5px 0;
    line-height: 25px;  
}
input{
    background-color: #EBE8DE;
    outline: 0;
    border: 0;
    width: 250px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    padding: 7px;

}
input[type=submit], .button{
    width: auto;
    line-height: 25px;
    background-color: #333333;
    color: #fff;
    text-shadow: none;
    box-shadow: none;
    cursor: pointer;
    padding: 5px 18px;
    
}
.clear{
    clear: both;
}
/* HEADER */
header{
    position: relative;
    width: auto;
    max-width: 900px;
    margin: 0 auto 20px auto;
}
header h1{
    color: #e56038;
    font-family: 'Baumans';
    font-size: 55px;
    margin: 35px 0 0 0;
}
header p{
    color: #4A463B;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-left: 5px;
}
/* NAV */
nav{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 50px 20px;
}
nav>ul>li{
    float: left;
    text-align: center;
    line-height: 40px;
    margin-left: 70px;
}
nav>ul>li>a{
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: block;
}
nav>ul>li:hover>a{
    color: #777;
}
/* SLIDER */
.container{
    position: relative;
    width: auto;
    margin: 0 auto;
}
#slider_content{
    position: absolute;
    top: 15%;
    left: 15%;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.6;
    width: 350px;
    z-index: 11;
    
}
#slider_content h3{
    color: #EBE8DE;
    background-color: #333333;
    border-radius: 15px 0 15px 0;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 15px;
    display: inline-block;
}
#slider_content p{
    margin: 0 0 30px 0;
    color: #4a463b;
    background-color: #EBE8DE;
    padding: 10px 15px;
    border-radius: 5px;
}
#slider_content>a{
    color: #EBE8DE;
    background-color: #333333;
    padding: 5px 18px;
    line-height: 25px;
}
div#slider{
    overflow: hidden;
}
div#slider figure{
    margin: 0;
    text-align: left;
    left: 0;
    width: 500%;
    position: relative; 
    font-size: 0;
    animation: 30s slidy infinite;
}
div#slider figure img{
    width: 20%;
    float: left;
}
@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    } 
    45% {
        left: -100%;
    }    
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}
/* SPACER */
#spacer{
    width: auto;
    background-color: #e56038;
    height: 70px;
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
#spacer p{
    position: absolute;
    left: 50%;
    width: auto;
    margin-left: -450px;
    margin-top: 22px;
}
#spacer .search{
    position: absolute;
    right: 50%;
    width: auto;
    margin-right: -480px;
    margin-top: 15px;
}
/* 3 COLUMNS */
#three_columns{
    width: auto;
    max-width: 900px;
    margin: 0 auto;
    padding: 70px 0 45px 0;
}
#three_columns article{
    float: left;
    font-size: 14px;
    width: 250px;
    margin-right: 45px;
}
#three_columns article img{
    float: left;
}
#three_columns article h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 75px;
}
#three_columns article p {
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 75px;
}
/* 4 COLUMNS */
#four_columns{
    width: auto;
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
}
#four_columns h2{
    font-size: 20px;
    border-bottom: 1px solid #D6D0C1;
    margin-bottom: 20px;
    padding: 20px 0;
}
#four_columns .img-item{
    float: left;
    margin-right: 25px;
}
#four_columns .img-item a{
    display: block;
    position: relative;
}
figcaption{
    width: 200px;
    font-size: 14px; 
}
figcaption strong{
    display: block;
    border-bottom: 1px solid #D6D0C1;
    margin: 10px 0;
    padding-bottom: 10px;
}
.zoomin{
    position: absolute;
    top: 0;
    left: 0;
    background: #000 url('../img/zoom.png') center center no-repeat;
    height: 113px;
    width: 100%;
    z-index: 99;
    opacity: 0;
}
.zoomin:hover{
    opacity: 0.5;
}
/*Lightbox*/
.lightbox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0,0,0,0.8);
}
.lightbox:target{
    display: block;
}
.lightbox img{
    margin-top: 2%;
    max-width: 90%;
    max-height: 80%;
}
/*MultiColumns*/
#multiple_columns {
    width: auto;
    max-width: 900px;
    margin: 0 auto;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
    clear: both;
}

#multiple_columns h3 {
    font-size: 20px;
    border-bottom: 1px solid #D6D0C1;
    margin-bottom: 20px;
    padding: 20px 0;
}

#multiple_columns .column1, #multiple_columns .column2 {
    width: auto;
    max-width: 450px;
    font-size: 14px;
    float: left;
}

#multiple_columns .column1 {
    margin: 70px 0;
}


#multiple_columns .column2 {
    margin: 120px 0;
}

.row {
    width: 350px;
    float: right;
    margin: 40px 0 0 50px;
    position: relative;
}

.row img {
    float: left;
}

.row p {
    margin-left: 100px;
}

.rocket, .clock {
    width: 80px;
    height: 80px;
}

.rocket:hover{
  animation: blastoff ease 0.7s;
  animation-iteration-count: infinite;
}

@keyframes blastoff{
  0% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
  100% {
    opacity:0.4;
    transform:  translate(250px,-200px)  ;
  }
}

.clock:hover{
  animation: shake linear 0.1s;
  animation-iteration-count: infinite;
}

@keyframes shake{
  0% {
    transform:  translate(0px,0px)  ;
  }
  100% {
    transform:  translate(20px,0px)  ;
  }
}
footer{
    background: #333333;
    width: auto;
    height: 430px;
    clear: both;
    position: relative;
}
#extra_content{
    line-height: 25px;
    padding-top: 30px;
    width: auto;
    max-width: 900px;
    margin: 0 auto;
    font-size: 14px;
}
#extra_content .column{
    float: left;
    color: #ababab;
    margin-right: 50px;
    width: 250px;
    font-family: 'Open Sans', sans-serif;
}
#extra_content .column h4{
    font-size: 16px;
    color: white;
    border-bottom: 1px solid #948d8d33;
    margin-bottom: 10px;
    padding: 10px 0;
}
.midlist ul li{
    display: block;
    background: url('../img/arrowright2.png') left no-repeat;
    border-bottom: 1px solid #948d8d33;
    padding: 10px 0;
}
.midlist ul li a{
    margin-left: 20px;
}
.midlist ul li a:hover{
    color: white;
}
.rightlist ul li a span{
    margin-left: 95px;
    display: block;
}
.rightlist ul li a img{
    width: 80px;
    height: 60px;
    float: left;
    border: 3px solid #948d8d33;
}
.rightlist ul li a span:hover{
    color: white;
}
.rightlist ul li a img:hover{
    border-color: red;
}
.rightlist ul li{
    min-height: 80px;
    margin-bottom: 5px;
}
#page_owner_info{
    margin-top: 50px;
    background: #1d1b1b;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
}
#page_owner_info .wrapper{
    font-family: 'Open Sans', sans-serif;
    width: auto;
    max-width: 900px;
    margin: 0 auto;
    font-size: 14px;
    color: #5e5e5e;
    position: relative;
}
#page_owner_info .wrapper .copyright{
    float: left;
    line-height: 70px;
}
#page_owner_info .wrapper .social{
    position: absolute;
    top: 25px;
    right: 0;
    
}
#page_owner_info .wrapper .social a{
    opacity: 0.3;
    margin-left: 12px;
}
#page_owner_info .wrapper .social a:hover{
    opacity: 0.9;
}
#page_owner_info .wrapper a {
    color: #ABABAB;
}

#page_owner_info .wrapper a:hover {
    color: #fff;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    #slider_content {
        width: auto;
        margin-right: 50px;
    }

    #slider_content h2 {
        font-size: 18px;
    }

    #slider_content p {
        font-size: 14px;
    }

    #slider_content p .responsive_button {
        display: inline;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    header h1{
        font-size: 35px;
        margin-left: 10px;
    }
    header p{
        margin-left: 20px;
    }
    #spacer {
        font-size: 14px;
    }

    #spacer .search {
        margin-right: -385px;
        margin-top: 19px;
    }

    #spacer p {
        margin-left: -370px;
    }

    input {
        font-size: 14px;
        padding: 4px;
    }

    input[type="submit"] {
        font-size: 14px;
        padding: 1px 14px;
    }

    #three_columns article{
        float: none;
        width: 60%;
        margin: 30px auto 0 auto;
    }
    #four_columns{
        width: 500px;
    }
    #four_columns .img-item{
        margin-right: 50px;
    }
    #four_columns .img-item:nth-of-type(3), #four_columns .img-item:nth-of-type(4){
        margin-top: 25px;
    }

    #multiple_columns .column1, #multiple_columns .column2 {
        float: none;
        max-width: 500px;
        margin: 50px auto 0 auto;
    }

    .column2 .row {
        float: none;
        margin: 0 0 71px 0;
    }

    .column2 .row p{
        width: 100%;
        padding-top: 10px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .container {
        height: 1px;
        display:none;
    }
    header {
        height: 120px;
    }
    nav > ul > li {
        margin-left:30px;
    }
    #spacer {
        height: 100px;
    }

    #spacer p {
        text-align: center;
        position: static;
        margin: 0 auto;
        padding: 15px 0 7px 0;
        font-size: 13px;        
    }
    #spacer .search {
        text-align: center;
        position: static;
        margin: 0 auto;
    }
    footer {
        padding-bottom: 70px;
        height: auto;
    }
    #extra_content {
        width: 350px;
        margin: 0 auto;
    }

    #extra_content .column {
        margin-top: 30px;
        float: none;
        font-size: 14px;
        width: 100%;
        margin-right: 10px;        
    }
    #page_owner_info .wrapper .copyright {
        margin-left:10px;
    }    
    #page_owner_info .wrapper .social {
        right: 10px;
    }
}
  
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    header {
        margin-top: 80px;
        height: 100px;
        text-align: center;
    }

    input {
        width: auto;
    }

    header h1 {
        font-size: 35px;
    }

    header p {
        margin: auto;
        font-size: 16px;
    }
    #spacer {
        height: auto;
        padding-bottom: 15px;
    }
    #spacer p {
        text-align: center;
        position: static;
        margin: 0 10px;
        padding: 15px 0 7px 0;
        font-size: 13px;        
    }
    #three_columns article {
        float: none;
        width: 300px;
    }
    #four_columns {
        width: auto;
    }

    #four_columns .img-item {
        width: 200px;
        float: none;
        margin: 25px auto 0 auto;
        
    }

    #four_columns h2 {
        margin: 0 30px;
    }
    .column2 .row {
        margin: 0 0 40px 0;
        width: auto;
    }
    .column2 .row p {
        width: auto;
    }

    #multiple_columns .column1, #multiple_columns .column2 {
        padding: 0 20px;
    }

    #page_owner_info .wrapper .copyright {
        display: block;
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    #page_owner_info .wrapper .social {
        display:none;
    }

    nav ul {
        display: none;
    }    
    
    label {
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    label:after {
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        background: #EDA28C;
        margin: 7px 5px;
        box-shadow: 0px 10px 0px #EDA28C, 0px 20px 0px #EDA28C
    }

    #nav:checked ~ ul {
        display: block;
        z-index: 9999;
        position: absolute;
        right: 15px;
        top: 45px;
        width: 120px;
    }
    nav {
        margin: 0;
    }
    nav a {
        color: #fff;
    }

    nav ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: left;
        background: #E56038;
        text-indent: 20px;
    }
    nav > ul > li {
        margin-left: 0px;
    }

        nav > ul li{
        display: block;
        position: relative;
        width: 100%;
        z-index: 9999;
        float: none;
    }    
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}