.tren{
    width: 454px;
    height: auto;
}
.tren img{
    width: 454px;
}
.tdtren{
    font-family: tahoma;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
    color: black;
}
.tren p{
    color: #a6a6a6;
    font-family: tahoma;
    font-size: 13px;
}
.con{
    width: 140px;
    height: auto;
    float: left;    
    margin-right: 10px;
}
.duoi{
    width: 450px;
}