html{
    background-color: #333;
}
@font-face{
    font-family: tron;
    src: url(./font/Tr2n.woff);
}
button{
    font-family: tron;
    font-size: 22px;
    width: 250px;
    height: 70px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}