*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}
.menu li{
    background-color: #2980b9;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding: 10px 15px;
}  
.menu li a{
    text-decoration: none;
    color: white;
    
}
.menu li:last-child{
    border-bottom: none;
}

@media screen and (min-width: 481px) {
    .menu li{
        display: inline-block;
        border: none;
        
    }
    .menu{
        text-align: center;
    }
    
}
@media screen and (min-width: 768px) {
    .menu{
        float: right;
        margin-top: 8px;
    }
    .logo{
        float: left;
    }
    .header::after{
        content: '';
        display: block;
        clear: both;
    }
}